# Environnement virtuel
venv/

# Données brutes
data/raw/
data/processed/

# Modèles ML
models/*.pkl

# Base de données SQLite
*.db

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Rapports perso
rapports perso routezone/